body {
    background-color: #282828;
    word-wrap: break-word;
    display: flex;
    margin-bottom: 50px;
    user-select: none;
}

.footer {
    z-index: 50;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: Grey;
    color: white;
    text-align: left;
}

.footerText {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
}

.footerText:hover .visitable {
    cursor: pointer;
    color: #33b3d6;
}

.footerText:hover .visitable:hover {
    color: #8f1d6e;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;  
}